
#external{
	color: #8da9c4; 
	text-align: right; 
	background-color:#8eecf5; 
	height: 50px; 
	font-family: Courier New, monospace;
	font-weight: bold;
	font-size: 1.5em;
	margin: 0;
}

* {
	font-family: Helvetica, sans-serif;
	font-size: 1em;
}

h1 {
	font-size: 2em;
}

#h2 {
	text-transform: uppercase;
}

.languages {
	background-color: #d8e2dc;
}

.tools {
	border: 2px solid #d8e2dc;	
}

img + ul {
	list-style-type: none;
}

section img {
	width: 100px;
	height: 100px;
	border-radius: 20px;
}

h4 ~ p {
	text-align: center;
}

section > ul > li {
	letter-spacing: 10px;
}
